<li class="collection-item">

  <div class="section">
    <h6>Loca<%= allocation.places.length > 1 ? 'is' : 'l' %>:</h6>
    <div class="collection">
      <%= if allocation.places.each do |place| %>
        <div class="collection-item">
          <p><b>Sala:</b> <%= place.room_title %></p>
          <p><b>Bloco:</b> <%= place.room_building_title %></p>
          <p><b>Departamento:</b> <%= place.department_title %></p>
          <p><b>Tipo de Departamento:</b> <%= place.department_type_title %></p>
        </div>
      <% end.empty? %>
        <p>Nenhum Local</p>
      <% end %>
    </div>
  </div>
  <div class="divider"></div>

  <div class="section">
    <h6>Rama<%= allocation.ramals.length > 1 ? 'is' : 'l' %>:</h6>
    <% if allocation.ramals.each do |ramal| %>
      <p><%= ramal.title %></p>
    <% end.empty? %>
      <p>Nenhum ramal</p>
    <% end %>
  </div>
  <div class="divider"></div>

  <div class="section">
    <h6>Função:</h6>
    <p><%= allocation.allocation_role.name %></p>
  </div>

</li>
