<div class="collection employee-details-container">

  <div class="collection-item valign-wrapper">
    <h4><%= @employee.name %></h4>
  </div>

  <div class="collection-item valign-wrapper employee-item">
    <i class="material-icons">work</i><span><%= @employee.positions[0].job_position.name %></span>
  </div class="collection-item">

  <div class="collection-item valign-wrapper employee-item">
    <i class="material-icons">email</i> <span><%= @employee.email %></span>
  </div class="collection-item">

  <div class="collection-item valign-wrapper">
    <p>Dados adicionais: <%= @employee.additional_contact_data %></p>
  </div class="collection-item">

  <%= render 'components/allocation_list', allocations: @employee.allocations %>
</div>
